body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 2px solid #ff66b2;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff66b2;
}

.provas button {
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.provas button:hover {
    background-color: #ff3385;
}

.prova-container {
    margin-top: 20px;
}

.question {
    margin: 15px 0;
}

.answer {
    display: none;
    margin-top: 5px;
    color: green;
}

.options {
    margin: 10px 0;
}

.options button {
    background-color: #ff99cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options button:hover {
    background-color: #ff66b2;
}

.next-button {
    display: none;
    margin-top: 20px;
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}